* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}

li {
  list-style-type: none;
}

.container {
  background-color: #f0fafb;
}

.header {
  background-color: #5ba4a4;
  width: 100%;
  height: 150px;
  margin: auto auto;
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  position: relative;
}
.header .filter {
  background-color: white;
  width: 90%;
  height: auto;
  margin: auto auto;
  border-radius: 5px;
  position: absolute;
  top: 105px;
  left: 70px;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: none;
}
.header .filter .filtered-text {
  width: 88%;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .filter .filtered-text .fill {
  width: 95%;
}
.header .filter .filtered-text .fill .con {
  float: left;
  display: flex;
  flex-direction: row;
  margin-left: 7px;
  margin-bottom: 5px;
}
.header .filter .filtered-text .fill .text {
  padding: 7px;
  background-color: #deeded;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  color: #5ba4a4;
}
.header .filter .filtered-text .fill .remove {
  background-color: #5ba4a4;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px;
  cursor: pointer;
}
.header .filter .filtered-text .fill .remove:hover {
  background-color: #2c3a3a;
}
.header .filter .filtered-text .clear {
  color: #5ba4a4;
  width: 10%;
}
.header .filter .filtered-text .clear:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 1285px) {
  .header .filter {
    width: 89%;
    margin: auto;
  }
}
@media screen and (max-width: 1100px) {
  .header .filter {
    width: 88%;
    margin: auto;
    left: 65px;
  }
}
@media screen and (max-width: 920px) {
  .header .filter {
    width: 85%;
    margin: auto;
  }
}
@media screen and (max-width: 625px) {
  .header .filter {
    width: 80%;
    margin: auto;
    left: 60px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    background-image: url(../images/bg-header-mobile.svg);
  }
  .header .filter {
    width: 90%;
    margin: auto;
    left: 20px;
  }
}

.img {
  width: 0px;
  margin: 30px 0px;
}
@media screen and (max-width: 1292px) {
  .img {
    width: 5%;
  }
}

.name {
  margin: 15px 15px 15px 0px;
  color: #5ba4a4;
}

p {
  margin: 15px 15px 0px 0px;
  font-size: 16px;
  cursor: pointer;
}
p:hover {
  color: #5ba4a4;
}

.categories li {
  float: left;
  padding: 10px 10px;
  margin: 0px 5px;
  color: #5ba4a4;
  background-color: #deeded;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.categories li:hover {
  background-color: #5ba4a4;
  color: white;
}

.photosnap-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
@media screen and (max-width: 400px) {
  .photosnap-wraper {
    margin: 60px auto;
  }
}
.photosnap-wraper .photosnap-text {
  width: 400px;
  margin: 40px 0px 30px;
}
.photosnap-wraper .photosnap-text .new {
  background-color: #5ba4a4;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .photosnap-wraper .photosnap-text .new {
    padding: 5px;
    border-radius: 10px;
  }
}
.photosnap-wraper .photosnap-text .feat {
  background-color: #2c3a3a;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .photosnap-wraper .photosnap-text .feat {
    padding: 5px;
    border-radius: 10px;
  }
}
.photosnap-wraper .photosnap-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.photosnap-wraper .photosnap-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.photosnap-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .photosnap-wraper .photosnap-text {
    width: 280px;
  }
}
@media screen and (max-width: 1000px) {
  .photosnap-wraper .img {
    margin-top: 70px;
  }
  .photosnap-wraper .photosnap-text {
    margin-top: 80px;
  }
  .photosnap-wraper .categories {
    width: 30%;
  }
  .photosnap-wraper .categories li {
    margin: 5px;
  }
}
@media screen and (max-width: 800px) {
  .photosnap-wraper .photosnap-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .photosnap-wraper {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
  }
  .photosnap-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .photosnap-wraper .photosnap-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .photosnap-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 45px;
  }
}
@media screen and (max-width: 400px) {
  .photosnap-wraper {
    margin-top: 150px;
    position: relative;
  }
  .photosnap-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .photosnap-wraper .photosnap-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .photosnap-wraper .categories {
    margin: 20px 0px 20px 10px;
  }
}

.manage-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 400px) {
  .manage-wraper {
    margin: 60px auto;
  }
}
.manage-wraper .manage-text {
  width: 460px;
  margin: 40px 0px 30px;
}
.manage-wraper .manage-text .new {
  background-color: #5ba4a4;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .manage-wraper .manage-text .new {
    padding: 5px;
    border-radius: 10px;
  }
}
.manage-wraper .manage-text .feat {
  background-color: #2c3a3a;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .manage-wraper .manage-text .feat {
    padding: 5px;
    border-radius: 10px;
  }
}
.manage-wraper .manage-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.manage-wraper .manage-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.manage-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .manage-wraper .manage-text {
    width: 340px;
  }
}
@media screen and (max-width: 1000px) {
  .manage-wraper .img {
    margin-top: 70px;
  }
  .manage-wraper .manage-text {
    width: 265px;
    margin-top: 80px;
  }
  .manage-wraper .categories {
    width: 30%;
  }
  .manage-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .manage-wraper .manage-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .manage-wraper {
    display: flex;
    flex-direction: column;
  }
  .manage-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .manage-wraper .manage-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .manage-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .manage-wraper {
    position: relative;
  }
  .manage-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .manage-wraper .manage-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .manage-wraper .categories {
    margin: 20px 0px 20px 5px;
  }
}

.account-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .account-wraper {
    margin: 60px auto;
  }
}
.account-wraper .account-text {
  width: 400px;
  margin: 40px 0px 30px;
}
.account-wraper .account-text .new {
  background-color: #5ba4a4;
  color: white;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .account-wraper .account-text .new {
    padding: 5px;
    border-radius: 10px;
  }
}
.account-wraper .account-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.account-wraper .account-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.account-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .account-wraper .account-text {
    width: 280px;
  }
}
@media screen and (max-width: 1000px) {
  .account-wraper .img {
    margin-top: 70px;
  }
  .account-wraper .account-text {
    margin-top: 80px;
    width: 250px;
  }
  .account-wraper .categories {
    width: 35%;
  }
  .account-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .account-wraper .account-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .account-wraper {
    display: flex;
    flex-direction: column;
  }
  .account-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .account-wraper .account-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .account-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .account-wraper {
    position: relative;
  }
  .account-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .account-wraper .account-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .account-wraper .categories {
    margin: 20px 0px 20px 5px;
  }
}

.home-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .home-wraper {
    margin: 60px auto;
  }
}
.home-wraper .home-text {
  width: 480px;
  margin: 40px 0px 30px;
}
.home-wraper .home-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.home-wraper .home-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.home-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .home-wraper .home-text {
    width: 360px;
  }
}
@media screen and (max-width: 1000px) {
  .home-wraper .img {
    margin-top: 70px;
  }
  .home-wraper .home-text {
    width: 265px;
    margin-top: 80px;
  }
  .home-wraper .categories {
    width: 30%;
  }
  .home-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .home-wraper .home-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .home-wraper {
    display: flex;
    flex-direction: column;
  }
  .home-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .home-wraper .home-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .home-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .home-wraper {
    position: relative;
  }
  .home-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .home-wraper .home-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .home-wraper .categories {
    margin: 20px 0px 20px 5px;
  }
}

.loop-studios-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .loop-studios-wraper {
    margin: 60px auto;
  }
}
.loop-studios-wraper .loop-studio-text {
  width: 380px;
  margin: 40px 0px 30px;
}
.loop-studios-wraper .loop-studio-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.loop-studios-wraper .loop-studio-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.loop-studios-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .loop-studios-wraper .loop-studio-text {
    width: 290px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .loop-studios-wraper .img {
    margin-top: 70px;
  }
  .loop-studios-wraper .loop-studio-text {
    width: 265px;
    margin-top: 80px;
  }
  .loop-studios-wraper .categories {
    width: 35%;
  }
  .loop-studios-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .loop-studios-wraper .loop-studio-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .loop-studios-wraper {
    display: flex;
    flex-direction: column;
  }
  .loop-studios-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .loop-studios-wraper .loop-studio-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .loop-studios-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .loop-studios-wraper {
    position: relative;
  }
  .loop-studios-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .loop-studios-wraper .loop-studio-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .loop-studios-wraper .categories {
    margin: 20px 0px 20px 7px;
  }
}

.faceit-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .faceit-wraper {
    margin: 60px auto;
  }
}
.faceit-wraper .faceit-text {
  width: 525px;
  margin: 40px 0px 30px;
}
.faceit-wraper .faceit-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.faceit-wraper .faceit-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.faceit-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .faceit-wraper .faceit-text {
    width: 410px;
  }
}
@media screen and (max-width: 1000px) {
  .faceit-wraper .img {
    margin-top: 70px;
  }
  .faceit-wraper .faceit-text {
    width: 270px;
    margin-top: 80px;
  }
  .faceit-wraper .categories {
    width: 30%;
  }
  .faceit-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .faceit-wraper .faceit-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .faceit-wraper {
    display: flex;
    flex-direction: column;
  }
  .faceit-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .faceit-wraper .faceit-text {
    width: 80%;
    border-bottom: 1px solid #7b8e8e;
  }
  .faceit-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .faceit-wraper {
    position: relative;
  }
  .faceit-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .faceit-wraper .faceit-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .faceit-wraper .categories {
    margin: 20px 0px 20px 7px;
  }
}

.shortly-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .shortly-wraper {
    margin: 60px auto;
  }
}
.shortly-wraper .shortly-text {
  width: 400px;
  margin: 40px 0px 30px;
}
.shortly-wraper .shortly-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.shortly-wraper .shortly-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.shortly-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .shortly-wraper .shortly-text {
    width: 295px;
  }
}
@media screen and (max-width: 1000px) {
  .shortly-wraper .img {
    margin-top: 70px;
  }
  .shortly-wraper .shortly-text {
    width: 290px;
    margin-top: 80px;
  }
  .shortly-wraper .categories {
    width: 35%;
  }
  .shortly-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 851px) {
  .shortly-wraper .shortly-text {
    margin-left: 40px;
  }
}
@media screen and (max-width: 800px) {
  .shortly-wraper .shortly-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .shortly-wraper {
    display: flex;
    flex-direction: column;
  }
  .shortly-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .shortly-wraper .shortly-text {
    width: 80%;
    border-bottom: 2px solid #7b8e8e;
  }
  .shortly-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .shortly-wraper {
    position: relative;
  }
  .shortly-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .shortly-wraper .shortly-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .shortly-wraper .categories {
    margin: 20px 0px 20px 7px;
  }
}

.insure-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .insure-wraper {
    margin: 60px auto;
  }
}
.insure-wraper .insure-text {
  width: 410px;
  margin: 40px 0px 30px;
}
.insure-wraper .insure-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.insure-wraper .insure-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.insure-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .insure-wraper .insure-text {
    width: 305px;
  }
}
@media screen and (max-width: 1000px) {
  .insure-wraper .img {
    margin-top: 70px;
  }
  .insure-wraper .insure-text {
    margin-top: 80px;
  }
  .insure-wraper .categories {
    width: 30%;
  }
  .insure-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 851px) {
  .insure-wraper .insure-text {
    margin-left: 40px;
  }
}
@media screen and (max-width: 800px) {
  .insure-wraper .insure-text {
    margin-left: 50px;
  }
}
@media screen and (max-width: 650px) {
  .insure-wraper {
    display: flex;
    flex-direction: column;
  }
  .insure-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .insure-wraper .insure-text {
    width: 80%;
    border-bottom: 2px solid #7b8e8e;
  }
  .insure-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .insure-wraper {
    position: relative;
  }
  .insure-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .insure-wraper .insure-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .insure-wraper .categories {
    margin: 20px 0px 20px 5px;
  }
}

.eyecam-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .eyecam-wraper {
    margin: 60px auto;
  }
}
.eyecam-wraper .eyecam-text {
  width: 340px;
  margin: 40px 0px 30px;
}
.eyecam-wraper .eyecam-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.eyecam-wraper .eyecam-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.eyecam-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .eyecam-wraper .img {
    margin-left: 25px;
  }
  .eyecam-wraper .eyecam-text {
    width: 300px;
    margin-left: 60px;
  }
  .eyecam-wraper .time-posted {
    margin: 0px 0px 0px 0px;
    color: #7b8e8e;
  }
}
@media screen and (max-width: 1000px) {
  .eyecam-wraper .img {
    margin-top: 70px;
  }
  .eyecam-wraper .eyecam-text {
    width: 280px;
    margin-top: 80px;
  }
  .eyecam-wraper .categories {
    width: 40%;
  }
  .eyecam-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .eyecam-wraper .eyecam-text {
    margin-left: 90px;
  }
}
@media screen and (max-width: 650px) {
  .eyecam-wraper {
    display: flex;
    flex-direction: column;
  }
  .eyecam-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .eyecam-wraper .eyecam-text {
    width: 80%;
    border-bottom: 2px solid #7b8e8e;
    margin-left: 50px;
  }
  .eyecam-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 40px;
  }
}
@media screen and (max-width: 400px) {
  .eyecam-wraper {
    position: relative;
  }
  .eyecam-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .eyecam-wraper .eyecam-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .eyecam-wraper .categories {
    margin: 20px 0px 20px 5px;
  }
}

.filter-company-wraper {
  width: 90%;
  margin: 30px auto;
  background-color: white;
  border-radius: 5px;
  border-left: 10px solid #5ba4a4;
  box-sizing: border-box;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0px solid white;
}
@media screen and (max-width: 400px) {
  .filter-company-wraper {
    margin: 60px auto;
  }
}
.filter-company-wraper .filter-text {
  width: 400px;
  margin: 40px 0px 30px;
}
.filter-company-wraper .filter-text ul li {
  float: left;
  margin: 15px;
  list-style-type: disc;
  color: #7b8e8e;
  font-weight: 400;
}
.filter-company-wraper .filter-text ul .postedAt {
  list-style-type: none;
  margin-left: 0px;
}
.filter-company-wraper .categories {
  margin: 70px 0px;
}
@media screen and (max-width: 1160px) {
  .filter-company-wraper .filter-text {
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .filter-company-wraper .img {
    margin-top: 70px;
  }
  .filter-company-wraper .filter-text {
    margin-top: 80px;
  }
  .filter-company-wraper .categories {
    width: 35%;
  }
  .filter-company-wraper .categories li {
    margin: 10px;
  }
}
@media screen and (max-width: 851px) {
  .filter-company-wraper .filter-text {
    margin-left: 40px;
  }
}
@media screen and (max-width: 800px) {
  .filter-company-wraper .filter-text {
    margin-left: 60px;
  }
}
@media screen and (max-width: 650px) {
  .filter-company-wraper {
    display: flex;
    flex-direction: column;
  }
  .filter-company-wraper .img {
    width: 0px;
    margin: 20px 0px 20px 40px;
    height: 0px;
  }
  .filter-company-wraper .filter-text {
    width: 80%;
    border-bottom: 2px solid #7b8e8e;
    margin-left: 50px;
  }
  .filter-company-wraper .categories {
    width: 90%;
    margin: 0px 0px 20px 45px;
  }
}
@media screen and (max-width: 400px) {
  .filter-company-wraper {
    position: relative;
  }
  .filter-company-wraper .img {
    position: absolute;
    top: -65px;
    left: -23px;
  }
  .filter-company-wraper .filter-text {
    width: 90%;
    margin: 60px 0px 0px 15px;
  }
  .filter-company-wraper .categories {
    margin: 20px 0px 20px 7px;
  }
}

.attribution {
  font-size: 13px;
  text-align: center;
  padding: 30px;
}

.attribution a {
  color: #5ba4a4;
  text-decoration: none;
}

.c {
  display: none;
}