
$DesaturatedDarkCyan: hsl(180, 29%, 50%);

$LightGrayishCyanBackground: rgb(240,250,251);
$LightGrayishCyanFilterTablets: hsl(0,0,100);
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);

$eightyPerMargin: 80px auto;
$boxShadow:0 0px 15px rgba(0,0,0,.2);